.worker {
  display: flex;
  position: relative;
  align-items: center;

  grid-column: 2 / span 4;

  border-bottom: 1px solid #E5E5E5;
  padding: 0 10px;
}

.worker:last-child {
  border-bottom: none;
}

.worker > a {
  flex: 1;
  padding: 20px 10px;

  font-family: Inter, Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  
  color: #848484;
  text-decoration: none;
}

.worker > a:hover {
  text-decoration: underline;
}

.worker > div {
  font-family: Inter, Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;

  color: #848484;
}

.worker > img {
  width: 20px;
  height: 20px;

  border-radius: 5px;
}

.worker:nth-child(1),
.worker:nth-child(2),
.worker:nth-child(3) {
  border-bottom: none;
  grid-row: 1;
  grid-column: auto / span 2;

  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .worker:nth-child(1) {
    grid-row: 1;
    grid-column: 1 / span 6;
  }

  .worker:nth-child(2) {
    grid-row: 2;
    grid-column: 1 / span 6;
  }

  .worker:nth-child(3) {
    grid-row: 3;
    grid-column: 1 / span 6;
  }
}

.worker:nth-child(2) {
  order: -1;
}

.worker:nth-child(1) > a,
.worker:nth-child(2) > a,
.worker:nth-child(3) > a {
  flex: 0;
  font-family: Inter, Roboto, sans-serif;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #222222;
}

.worker:nth-child(1) > div {
  width: 220px;
  height: 220px;
}

.worker:nth-child(2) > div {
  width: 180px;
  height: 180px;
}

.worker:nth-child(3) > div {
  width: 160px;
  height: 160px;
}

.worker:nth-child(1) > div,
.worker:nth-child(2) > div,
.worker:nth-child(3) > div {
  cursor: default;
  position: absolute;

  bottom: 75px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(50, 50, 50, 0.6);
  color: rgba(255, 255, 255, 0.6);

  font-family: Inter, Roboto, sans-serif;
  font-size: 84px;
  font-weight: 600;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.worker:nth-child(1) > div:hover,
.worker:nth-child(2) > div:hover,
.worker:nth-child(3) > div:hover {
  opacity: 1;
}

.worker:nth-child(1) > img {
  width: 220px;
  height: 220px;

  border: 10px solid rgba(252, 194, 0, 0.5);
  border-radius: 5px;
}

.worker:nth-child(2) > img {
  width: 180px;
  height: 180px;

  border: 10px solid rgba(192, 192, 192, 0.5);
  border-radius: 5px;
}

.worker:nth-child(3) > img {
  width: 160px;
  height: 160px;

  border: 10px solid rgba(205, 127, 50, 0.5);
  border-radius: 5px;
}
